# =========================
# Android Studio / IntelliJ
# =========================
.idea/
*.iml
*.ipr
*.iws

# =========================
# Gradle
# =========================
.gradle/
build/
*/build/

# =========================
# Local config
# =========================
local.properties

# =========================
# Android
# =========================
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Kotlin / Kapt
# =========================
.kotlin/
kaptGenerated/

# =========================
# Compose
# =========================
compose_output/
